<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
      <div class="main-content">
      <h1>{{>header}}</h1>
<h1>{{plainText}}</h1>
    <img class="portrait" src="images/robot.jpg"  alt="person image"></img>
    <p>This website is created by sushmita</p>
    </div>
       
     <h1>{{>footer}}</h1>
</body>
</html>